* {
    background-color: #181719;
    color:white;
}

body::-webkit-scrollbar{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 5rem;
}

header .brand{
    border: 1px solid #FFFFFF;
    padding: 8px;
    font-family: 'Crimson Pro';
font-style: normal;
font-weight: 200;
font-size: 14px;
line-height: 16px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 37.15%;
}

.nav div{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;
}

.nav div:active,
.nav div:hover{
    border-bottom: 2px solid #FFFFFF;
    cursor: pointer;
}

main{
    display: flex;
    height:85vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.info,.image{
    width: 40%;
}

.info div:first-child{
font-family: 'Lora';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 61px;
color: #FFFFFF;
}

.info div:first-child+div{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
margin: 3rem 0px;
color: #FFFFFF;

}

.info div:first-child+div+div{
    display: flex;
}

.info div:first-child+div+div{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */
color: #FFFFFF;
}

.info div:first-child+div+div img{
    width: 5%;
    text-align: center;
    padding-left: 10px;
}

.image{
    width: 40%;
    height: 40%;
    margin-bottom: 40vh;
}

.wallimage{
    width: 100%;
}

.profileimg div img{
    width: 42.5px;
    padding: 15px;
    border-radius: 50px;
}

.profileimg{
    margin-top: -100px;
    width: 70%;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 10;
    margin-left: 15vw;
}

.profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile div:first-child{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}

.profile div:first-child+div{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 15px;
color: #828282;
}

.text{
font-family: 'Lora';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 31px;
color: #FFFFFF;
padding: 30px;
}   